/*
Theme Name: Lobinho
Author Name: Felipe
Description: teste
Version: 1
*/
@import "css/reset.css";

body{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    color: var(--font-white-color);

    /*color palette */
    --font-grey-color: #333333;
    --font-white-color: #FFFFFF;
    --font-gold-color: #DEB959;

    --header-color: #85CDF5;

    --input-color: #E6E6E6;
    --about-color: #2C5680;
    --values-color: #333333;
    --wolves-example-color: #FAFAFA;

    --figure-shadow-color: #2C5680;
    --hover-color: #d9d9d9;

    --submit-button-color: #2C5680;
    --adopt-button-color: #7AAC3A;
    --delete-button-color: #DE5959;
    --button-gold-color: #DEB959;

    --footer-color: #333333;   
    --footer-button-color: #DEB959;
    --footer-icon-color: #FAFAFA;
    /***************/

}

header{
    background-color: var(--header-color);

    width: 100vw;

    padding: 0.5em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link{
    margin: auto 5%;

    text-align: center;
}

.header-link a{
    font-size: 1.5em;
    font-weight: bold;
    
    color: var(--font-grey-color);
    
    text-decoration: none;
    position: relative;
}

.header-link-underline{
    height: 0.15em;

    margin-top: 0.1em;
    border-radius: 5px;

    position: absolute;
    right: 0;
}

.header-link img{
    width: 90%;
}

#second-link{
    background-color: var(--font-grey-color);
    
    width: 70%;   
}

button{
    cursor: pointer;
}

.header-link a:hover{
    color: var(--font-white-color);
}

.header-link a:hover #second-link{
    background-color: var(--font-white-color);
    animation-name: hover-second-link;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#first-link:hover .header-link-underline{
    background-color: var(--font-white-color);
    animation-name: hover-first-link;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


#footer{
    background-color: var(--footer-color);

    padding: 3%;

    margin-top: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#gradient{
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(222,185,89,1) 0%, rgba(44,86,128,1) 100%);
}

#informations{
    display: inherit;
    justify-content: space-between;
}

#map{
    width: auto;
    height: 50%;

    border: 0;
}

#contact{
    min-height:100%;

    padding-left: 5%;

    display: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.icon-text{
    display: flex;
}

#contact img{
    width: 1em;
    
    margin-right: 1em;
}

#footer-button{
    font-size: 1.1em;
    font-weight: bold;
    color: var(--font-grey-color);

    background-color: var(--footer-button-color);
    
    width: 8em;
    
    padding: 2% 0;

    border: none;
}

#made-with{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#made-with img{
    margin-top: 1em;


}

.pagination{
    display: flex; justify-content: center; gap: 1em; margin-bottom: 1em;
}

.page-numbers{
    text-decoration: none;
    color: var(--font-white-color);
    background-color: var(--figure-shadow-color);
    padding: 0.5em;
    border-radius: 5px;
}

@media only screen and (max-width: 500px){
    #map{
        display: none;
    }
    .header-link a{
        font-size: 1.2em;
    }
    .icon-text{
        margin-bottom: 5%;
    }
}

#footer-button:hover{
    background-color: var(--hover-color);
}

@keyframes hover-first-link{
    0%  {width: 0%;}
    25% {width: 25%;}
    50% {width: 50%;}
    75% {width: 75%;}
    100% {width: 100%;}
}

@keyframes hover-second-link {
    33% {width: 80%;}
    66% {width: 90%;}
    100% {width: 100%;}
}